---
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-between py-6 md:py-8">
      <a class="inline-block font-bold text-xl" href="/">Running</a>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Made by
        <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://github.com/huijiewei"> Huijie</a>
        · All rights reserved.
      </div>
    </div>
  </div>
</footer>
